* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.app-left {
  width: 400px;
  height: 100svh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  overflow: scroll;
  flex-shrink: 0;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

/* Navbar */

header {
  width: 100%;
  padding: 16px 0px;
  padding-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

header nav a {
  position: relative;
  text-decoration: none;
  color: #121212;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  transition: color 0.3s;
}

header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #121212;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease, transform-origin 0s;
}

header nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.active-nav-link {
  color: #ea580c;
}

.active-nav-link:hover {
  color: #ea580c;
}

.active-nav-link::after {
  transform: scaleX(1);
  transform-origin: left;
  background: #ea580c;
}

/* Add Item */

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

input {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  border: 2px solid #121212;
  color: #5e5e5e;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}

input:focus {
  color: #121212;
}

input:not(:placeholder-shown) {
  color: #121212;
}

.price-input::-webkit-inner-spin-button,
.price-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-input[type="number"] {
  -moz-appearance: textfield;
}

.image-input {
  width: 100%;
  min-height: 150px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.image-input:hover {
  background: #d3d3d3;
}

.image-input:active {
  background: #5e5e5e;
}

.image-input span {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5e5e5e;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  transition: all 0.3s ease;
  border-radius: 8px;
  border: 2px dashed #121212;
}

.image-input:hover span {
  color: #121212;
}

.image-input-img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #121212;
}

.image-input-img::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    179deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 99.25%
  );
  z-index: 1;
}

.image-input-img p {
  z-index: 5;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #d3d3d3;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

form button {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 20px;
  border: 2px solid #121212;
  background: #ea580c;
  align-self: stretch;
  color: #ffffff;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 3px 3px #121212;
}

form button:hover {
  transform: translate(1px, 1px);
  box-shadow: 2px 2px #121212;
}

form button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

form button.cancel-btn {
  background: #acacac;
}

.alert {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-container {
  width: 600px;
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  padding: 32px;
  background: #ffffff;
  border-radius: 4px;
  border: 2px solid #121212;
  box-shadow: 3px 3px #121212;
}

.alert-container p {
  color: #121212;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.alert-container-buttons {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 24px;
}

.alert-container button {
  width: fit-content;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 20px;
  border: 2px solid #121212;
  background: #ea580c;
  align-self: stretch;
  color: #ffffff;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 3px 3px #121212;
}

.alert-container button:hover {
  transform: translate(1px, 1px);
  box-shadow: 2px 2px #121212;
}

.alert-container button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/* App Right */

.app-right {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  overflow-y: scroll;
}

h2 {
  color: #121212;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.items-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.item-set {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #121212;
  box-shadow: 3px 3px #121212;
}

.item-set-img {
  width: 100%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid #121212;
}

.item-set-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

h3 {
  color: #121212;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.item-set-info p {
  color: #121212;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.item-set-info span {
  color: #5e5e5e;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
